@font-face {
    font-family: myFirstFont;
    src: url('./Rejouice.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: myFirstFont
}

body {
    background-color: #FAF8F3;
}

.main .nav-bar {
    width: 100%;
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 3vw;
    text-transform: capitalize;
    color: white;

}

.main .nav-bar h3 a {
    text-decoration: none;
    color: #fff;
}

.cursor {
    width: 80px;
    height: 80px;
    background-color: #ff5f38;
    border-radius: 50%;
    position: absolute;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    opacity: 0;
    scale: 0;

}

.hero-section {
    width: 100%;
    height: 100vh;
    background-color: rgb(225, 216, 216);
    position: relative;
}

.hero-section video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.hero-container {
    width: 100%;
    height: 100%;
    position: absolute;
}

.hero-container h1 {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 10vw;
    letter-spacing: -6px;
    z-index: 999;
}

.page2 {
    width: 100%;
    height: 100vh;
    background-color: #FAF8F3;
    padding: 3vw;
}

.flex-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #3e3e3b;
    border-bottom: 1px solid gray;
}

.py-5 {
    padding: 12px;
}

.flex-box h1 {
    font-size: 25px;
}

.page2 h2 {
    font-size: 4vw;
    font-weight: 300;
}

.page3 {
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.page3-botttom {
    height: 75vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.box {
    height: 100%;
    width: 30%;
    cursor: pointer;
    position: relative;
}

.box video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

}

.box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    transition: all ease 0.5s;
}

.box:hover img {
    opacity: 0;

}

.page4-bottom {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3vw;
    position: relative;
    /* background-color: black; */
    /* position: relative; */
}

.page4-bottom svg {
    position: absolute;
    height: 70%;
}

.cursor2 {
    width: 80px;
    height: 80px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-transform: capitalize;
    opacity: 0;
    scale: 0;
}

.btn {
    padding: 15px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #000;
    color: #fff;
    border-radius: 8px;
}

.page3 h2{
    text-transform: capitalize;
    margin-top: 8px;
    text-decoration: underline;
}

.d-flex {
    display: flex;
    align-items: center;
    gap: 8px;
}

.silder-section {
    text-transform: capitalize;
    width: 100%;
    padding: 4vw 2vw;
    height: 100vh;
    position: relative;
}
.silder-box{
    width: 300px;
    height: 300px;
}

.silder-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* width: 15%;
    aspect-ratio: 3/2;
    object-fit: contain; */
    
}

.silder-section h1 {
    font-size: 9vw;
    font-weight: 200;
    border-bottom: 1px solid #000;
    /* background-color: red; */
    width: 96%;
    margin-left: 2%;
}

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    width: 400px;
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    height: 400px;
  }

  .swiper-slide img {
    display: block;
    width: 18%;

    object-fit: cover;
  }

  .autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--swiper-theme-color);
  }

  .autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: var(--swiper-theme-color);
    fill: none;
    stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
  }

.fotter-section{
    width: 100%;
    background-color: #000;
    padding: 15px;
}